.navbar-container{
    box-shadow: 10px 10px 5px #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info p{
    margin-right: 10px;
}